@page
@model HomeTask4.Web.Pages.Recipes.EditModel
@{
    ViewData["Title"] = "Edit recipe page";
}
<div class="container">
    <h5 class="h3">Edit recipe page</h5>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <form method="post">
        <div class="row">
            <div class="card" style="margin:5px">
                <div class="card-body">
                    <div>
                        <input asp-for="RecipeToEdit.Id" hidden />
                        <input asp-for="RecipeToEdit.Ingredients" hidden />
                        <input asp-for="RecipeToEdit.Steps" hidden />
                    </div>
                    <button type="submit" asp-page-handler="Edit" class="btn btn-success" style="display:block">Save changes</button>
                    <div>
                        <label asp-for="RecipeToEdit.Name"></label><br />
                        <input asp-for="RecipeToEdit.Name" class="form-control" type="text" placeholder="Recipe Name" />
                        <span asp-validation-for="RecipeToEdit.Name"></span>
                    </div>
                    <div>
                        <label asp-for="RecipeToEdit.Category.Name">Category:</label><br />
                        <select asp-for="RecipeToEdit.CategoryId" asp-items="@Model.Categories" class="custom-select"></select>
                    </div>
                    <div>
                        <label asp-for="RecipeToEdit.Description"></label><br />
                        <input asp-for="RecipeToEdit.Description" class="form-control" type="text" placeholder="Description">
                    </div>
                    <h5>Ingredients:</h5>
                    <ul class="list-group list-group-flush" id="card-ingredients">
                        @for (int i = 0; i < Model.RecipeToEdit.Ingredients.Count; i++)
                        {
                            <li class="list-group-item " style="display:flex">
                                <input value="@Model.RecipeToEdit.Ingredients[i].Ingredient.Name" class="form-control" type="text" placeholder="Ingredient Name" disabled />
                                <input value="@Model.RecipeToEdit.Ingredients[i].Amount " class="form-control" type="text" placeholder="Amount" disabled />
                                <input value="@Model.RecipeToEdit.Ingredients[i].Measure.Name" class="form-control" type="text" placeholder="Amount" disabled />
                                <button asp-route-recipeId="@Model.RecipeToEdit.Ingredients[i].RecipeId" asp-route-ingredientId="@Model.RecipeToEdit.Ingredients[i].IngredientId" asp-page-handler="DeleteIngredient" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete @Model.RecipeToEdit.Ingredients[i].Ingredient.Name ingredient?')">Delete</button>
                            </li>
                        }
                        <p>New Ingredient</p>
                        <li class="list-group-item">
                            <input name="newIngredient" class="form-control" type="text" placeholder="Ingredient Name" />
                            <input name="newAmount" class="form-control" type="text" placeholder="Amount" />
                            <select name="measureId" asp-items="Model.Measures" class="custom-select"></select>
                            <button asp-page-handler="AddIngredient" asp-route-Id="@Model.RecipeToEdit.Id" class="btn btn-success">Add ingredient</button>
                        </li>
                    </ul>
                    <h5>Steps:</h5>
                    <ul class="list-group list-group-flush" id="card-ingredients">
                        @for (int i = 0; i < Model.RecipeToEdit.Steps.Count; i++)
                        {
                            <li class="list-group-item" style="display:flex">
                                <input value="@Model.RecipeToEdit.Steps[i].StepNumber" class="form-control" type="text" disabled />
                                <input value="@Model.RecipeToEdit.Steps[i].Description" class="form-control" type="text" disabled />
                                <button asp-route-stepId="@Model.RecipeToEdit.Steps[i].Id" asp-page-handler="DeleteStep" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete @Model.RecipeToEdit.Steps[i].StepNumber step?')">Delete</button>
                            </li>
                        }
                        New step:
                        <li class="list-group-item">
                            <input name="description" class="form-control" type="text" placeholder="Step Description" />
                            <button asp-page-handler="AddStep" asp-route-Id="@Model.RecipeToEdit.Id" class="btn btn-success">Add step</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}