@page 
@model HomeTask4.Web.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "All recipes";
}
<div class="container">
    <h3 class="h3">All Recipes</h3>
    <form method="post">
        <div class="row">
            @foreach (var recipe in Model.Recipes)
            {
                recipe.Steps = recipe.Steps.OrderBy(x => x.StepNumber).ToList();
                <div class="card" style="width:32%; margin:5px">
                    <div class="card-body">
                        <h3 class="card-title">@recipe.Name</h3>
                        <h4 class="card-text">Category: @recipe.Category.Name</h4>
                        <h5>Ingredients:</h5>
                        <ul class="list-group list-group-flush" id="card-ingredients">
                            @foreach (var ingredient in recipe.Ingredients)
                            {
                                <li class="list-group-item">@ingredient.Ingredient.Name @ingredient.Amount @ingredient.Measure.Name</li>
                            }
                        </ul>
                        <p class="card-text">Description: @recipe.Description</p>
                        <div id="card-steps">
                            @foreach (var step in recipe.Steps)
                            {
                                <p class="card-text">@step.StepNumber @step.Description</p>
                            }
                        </div>
                        <div class="btn-toolbar" style="padding:5px; vertical-align:middle;">
                            <button type="button" asp-page="Index" class="btn btn-primary" style="border-radius: 3px 0 0 3px">Add Ingredient</button>
                            <button type="button" asp-page="Index" class="btn btn-warning" style="border-radius: 0">Add steps</button>
                            <button type="submit" asp-page-handler="Delete" asp-route-deleteId="@recipe.Id" class="btn btn-danger" style="border-radius: 0 3px 3px 0" onclick="return confirm('Are you sure you want to delete @recipe.Name recipe?')">Delete</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>
</div>